In [14]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize']= (20.0, 10.0)
             
#Reading data
data = pd.read_csv('weatherHistory.csv')
print(data.shape)
data.head()

(96453, 12)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [18]:
X= data['Humidity'].values
Y= data['Temperature (C)'].values

In [35]:
mean_x=np.mean(X)
mean_y=np.mean(Y)


n = len(X)

slope= 0
slope_lower= 0
for i in range(n):
    slope +=(X[i] - mean_x)* (Y[i] - mean_y)
    slope_lower += (X[i] - mean_x) ** 2
b1=slope/slope_lower
b0=mean_y - (b1 * mean_x)
print(b1,b0)

-30.89438375804337 34.63692912688367